body{
  overflow: auto;
}

.circle{
  margin-top: 30px !important;
  max-width: 20% !important;
}

main div h1{
  margin: 0 !important;
  padding: 0;
}

main div p{
  margin-top: 0;
  margin-bottom: 50px;
}

.footer__content{
  font-size: 12px;
}